body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #aaaaaa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#contact, #donation {
  display: inline-block;
}

header img {
    height: 40px;
    margin-right: 20px;
}

header nav {
    display: flex;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

header nav ul li a:hover {
    color: #555555;
}

section {
    padding: 40px;
}

section h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

section h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

section p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

section ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

section ul li {
    margin-bottom: 10px;
}

section ul li img {
    width: 100%;
}
